.text {
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 12px;
  text-align: center;
}

.borderSecond {
  border-left: 1px solid #354649;
  max-width: 100px;
}

.borderThird {
  max-width: 100px;
  border-top: 1px solid #354649;
}

.borderForth {
  max-width: 100px;
  border-left: 1px solid #354649;
  border-top: 1px solid #354649;
}
