.container {
	margin: auto;
	width: 100%;
}

.search {
	border: 1px solid #666;
	box-sizing: border-box;
	font-size: 18px;
	padding: 18px;
	width: 100%;
	/* margin-top: 1em auto auto auto; */
	text-align: center;
	height: 2em;
}

@media only screen and (max-width: 542px) {
	.container {
		width: 70%;
	}
}
